<div class="container-fluid">
    <div class="row d-flex justify-content-start">
        <div class="col-md-11 fundoDoLinks pt-2 pb-2">
            <h1>Links</h1>
        </div>
    </div>
    <div class="ml-4" *ngFor="let item of listaDeLinks">
        <div class="card mt-5 fundoCard" style="width: 80vw;">
            <div class="card-body">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-md-10">
                            <h6 class="card-title mb-0 ml-1 d-flex justify-content-start">Id: {{item.id}}</h6>
                        </div>
                        <div class="col-md-2">
                            <a [routerLink]="['/deletar', item.id]"><i class="fa fa-trash-o d-flex justify-content-end pr-1" aria-hidden="true"></i></a>
                        </div>
                    </div>

                        <h5 class="card-title mb-1 mt-1">{{item.nomeLink}}</h5>
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="{{item.link}}" target="_blank"
                                        class="card-subtitle mb-2 ml-1 text-muted">{{item.link}}</a>
                                </div>
                                <div class="col-md-2">
                                    <a [routerLink]="['/editar', item.id]"><i
                                            class="fa fa-pencil-square-o d-flex justify-content-end p-0" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row d-flex justify-content-center" style="padding-bottom: 5%;">
        <div class="col-ml-11 pt-5 mr-5">
            <a routerLink="/cadastrar"><button class="btn-editar-preto">Cadastrar</button></a>
        </div>
    </div>
</div>